
<title>Shared Todo App </title>

<div class="container">
  <div class="row">
    <div class="span6">
      <h1>My Expense Sheet</h1>
      <a href="/expenses/add_expense">add expense</a><br>
      <a href="/incomes/add_income">add income</a>
      <hr>

      <% if flash[:error] %>
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong><%= flash[:error] %></strong>
          </div>
      <% end %>

      <% if flash[:success] %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong><%= flash[:success] %></strong>
          </div>
      <% end %>
      
      <p>All your Incomes are here</p>
      <div class="well">
        <table>
          <thead class="well">
          <tr>
            <th>Date</th>
            <th>Source</th>
            <th>Amount</th>
          </tr>
          <tbody>
          <% @incomes.each do |i| %>
              <tr>
                <td><%= i.created_at.to_date %></td>
                <td><%= i.source %></td>
                <td><%= i.amount %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <p>Total Incomes : <%= @incomes.sum(:amount) %></p>
      </div>
    </div>
  </div>
</div>
