<title>Shared Todo App </title>

<div class="container">
  <div class="row">
    <div class="span6">
      <h1>My Expense Sheet</h1>
      <a href="/expenses/add_expense">add expense</a><br>
      <a href="/incomes/add_income">add income</a>
      <hr>

      <% if flash[:error] %>
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong><%= flash[:error] %></strong>
          </div>
      <% end %>

      <% if flash[:success] %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong><%= flash[:success] %></strong>
          </div>
      <% end %>

      <h3>
        <a href="/expenses/index">Expenses</a>
        <a href="/incomes/index">Incomes</a>
      </h3>

      <p>All your Expenses are here</p>

      <div class="well">
        <table class="table">
          <thead class="well">
          <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Amount</th>
          </tr>
          <tbody>
          <% @expenses.each do |e| %>
              <tr>
                <td><%= e.created_at.to_date %></td>
                <td><%= e.name %></td>
                <td><%= e.amount %></td>
              </tr>
          <% end %>
          </tbody>
        </table><br>

        <h4><p>Total Expenses : <%= @expenses.sum(:amount) %></p></h4>
      </div>
    </div>
  </div>
</div>
